.inline{
	display: inline-block;
}
.table{
	table-layout: unset;
}
.box{
	min-width: 75px;
	margin-bottom: 5px;
}
.center{
	text-align: center;
}
@media screen and (max-width: 769px)
{
	.hide-small-screen{
		display: none;
	}
}
.table-breaker{
	/*text-align: center;*/
	/*background: #ffffff;*/
}
.table-breaker > h5{
/*	margin-top: 100px;
	margin-bottom: 100px;
*/}
.sidebar{
	margin-left:0px;
}

.sidebar table{
	margin-left: 12px;
}

.title{
	margin-bottom: 20px;
}

.searchbar{
	margin-top:7px;
}
.layout-nav{
	margin-bottom: 50px;
}
.adresse_form{
	border-top: 1px dashed #e3E3E3;
	padding-top: 10px;
}
.green{
	color:green;
}

.grey{
	color:grey;
}

.red{
	color:red;
}

.fa{
	font-size:2em;
}

.plus-icon{
	cursor: pointer;
}

.fa-icons{
	font-size: 1.5em;
}

.annonce img
{
	margin-top: 10px;
	border-radius: 50%;
	width:165px;
	height:165px;
	border: 1px solid rgba(156, 156, 156, 0.8);
	padding: 3%;
}
.annonce
{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 3%;
	box-shadow: 2px 2px 8px rgba(156, 156, 156, 1),-2px 0px 8px rgba(156, 156, 156, 1);
}
.formtitre
{
	font-size: 150%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	box-shadow: 2px 2px 8px rgba(156, 156, 156, 1),-2px 0px 8px rgba(156, 156, 156, 1);
}
.formLieu
{
	font-size: 120%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding-left: 10px;
	box-shadow: 2px 2px 8px rgba(156, 156, 156, 0.8),-2px 0px 8px rgba(156, 156, 156, 0.8);
}
.annonce h2
{
	color: red;
}
.titreannonce
{
	font-size:200%; 
}

.description
{
	text-align: justify;
	margin-bottom: 2%;
}

[v-cloak] {
 	display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}