.inline{
	display: inline-block;
}
.table{
	table-layout: unset;
}
.box{
	min-width: 75px;
	margin-bottom: 5px;
}
.center{
	text-align: center;
}
@media screen and (max-width: 769px)
{
	.hide-small-screen{
		display: none;
	}
}
.table-breaker{
	/*text-align: center;*/
	/*background: #ffffff;*/
}
.table-breaker > h5{
/*	margin-top: 100px;
	margin-bottom: 100px;
*/}
.sidebar{
	margin-left:0px;
}

.sidebar table{
	margin-left: 12px;
}

.title{
	margin-bottom: 20px;
}

.searchbar{
	margin-top:7px;
}
.layout-nav{
	margin-bottom: 50px;
}
.adresse_form{
	border-top: 1px dashed #e3E3E3;
	padding-top: 10px;
}
.green{
	color:green;
}

.grey{
	color:grey;
}

.red{
	color:red;
}

.fa{
	font-size:2em;
}
.annonce
{
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 2%;
	margin-bottom: 5%;
}
.formtitre
{
	font-size: 150%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;

}
.formLieu
{
	font-size: 150%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	padding-left: 10px;
}

.annonce h2
{
	color: red;
}
.titreannonce
{
	font-size:200%; 
}
.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.annonce .description
{
	text-align: justify;
}
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #34ca78; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #37D980;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 h2{color:#34ca78;}
 .margin10{margin-bottom:10px; margin-right:10px;}

