.sidebar{
	margin-left:0px;
}

.sidebar table{
	margin-left: 12px;
}

.title{
	margin-bottom: 20px;
}

.searchbar{
	margin-top:7px;
}

.green{
	color:green;
}

.grey{
	color:grey;
}

.red{
	color:red;
}

.fa{
	font-size:2em;
}