.inline{
	display: inline-block;
}
.table{
	table-layout: unset;
}
.box{
	min-width: 75px;
	margin-bottom: 5px;
}
.center{
	text-align: center;
}
@media screen and (max-width: 769px)
{
	.hide-small-screen{
		display: none;
	}
}
.table-breaker{
	/*text-align: center;*/
	/*background: #ffffff;*/
}
.table-breaker > h5{
/*	margin-top: 100px;
	margin-bottom: 100px;
*/}
.sidebar{
	margin-left:0px;
}

.sidebar table{
	margin-left: 12px;
}

.title{
	margin-bottom: 20px;
}

.searchbar{
	margin-top:7px;
}
.layout-nav{
	margin-bottom: 50px;
}
.adresse_form{
	border-top: 1px dashed #e3E3E3;
	padding-top: 10px;
}
.green{
	color:green;
}

.grey{
	color:grey;
}

.red{
	color:red;
}

.fa{
	font-size:2em;
}
