.inline{
	display: inline-block;
}
.table{
	table-layout: unset;
}
.box{
	min-width: 75px;
	margin-bottom: 5px;
}
.navbar-static-top {
	background: #222222;
}

.bg-white {
	background: white;
}

.hidden {
	display: none;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color:white;
}
.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-brand:hover {
	color:#cecece;
}
.center{
	text-align: center;
}
body{
	background: #f7faff;
}

ul {
	list-style-type: none;
}
.no-padding{
	padding: 0;
}

.margin-top-50 {
	margin-top: 50px;
}

.padding-right {
	padding-right: 15px;
}

@media screen and (max-width: 769px)
{
	.hide-small-screen{
		display: none;
	}
}
.table-breaker{
	/*text-align: center;*/
	/*background: #ffffff;*/
}
.table-breaker > h5{
/*	margin-top: 100px;
	margin-bottom: 100px;
*/}
.sidebar{
	margin-left:0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 8px rgba(156, 156, 156, 1),-2px 0px 8px rgba(156, 156, 156, 1);
}

.sidebar table{
	margin-top: 2%;
	margin-left: 10%;
}

.moncompte div{
	border-top: 1px solid black;
	margin-top: 5%;
}

.moncompte div h3{
	text-align: center;
	margin-bottom: 10%;
}

.title{
	margin-bottom: 20px;
}

.searchbar{
	display: inline-block;
	padding-left:15px;
	margin-top:7px;
}

.layout-nav{
	margin-bottom: 50px;
}
.adresse_form{
	border-top: 1px dashed #e3E3E3;
	padding-top: 10px;
}
.green{
	color:green;
}

.grey{
	color:grey;
}

.red{
	color:#FF3131;
}

.blue {
	color: #3060FF;
}

.fa{
	font-size:2em;
}

.plus-icon{
	cursor: pointer;
}

.fa-icons{
	font-size: 1.5em;
}

@media(max-width: 768px)
{
	.container-mobile {
		padding: 0;
		width:100%;
	}
}

@media(max-width: 900px)
{
	.annonce img
	{
	}
}
.clear::after{
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.annonce
{
	background: #76D4FC;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
	/*border-bottom: 8px solid #E4EEFF;*/
	margin-bottom: 4%;
	/*box-shadow: 2px 2px 8px rgba(156, 156, 156, 1),-2px 2px 8px rgba(156, 156, 156, 1);*/
	border-radius: 5px;
	/*height: inherit;*/
	transition: all .3s ease;
	/*background: rgba(0,0,0,0.9);*/
	/*background: transparent;*/


}

.annonce-type {
	position: absolute;
	top: 0;
	color:white;
	right: 15px;
	z-index: 100;
	background: rgba(255,0,0,.8);
	padding:5px 20px;
	font-size: 16px;
	line-height: 30px;
	border-top-right-radius: 5px;
}

/*.annonce:hover
{
	background: #d6e6fc;
	background: #76D4FC;
}
*/
.annonce img
{
	/*margin-top: 10px;*/
	/*border-radius: 50%;*/
	width:100%;
	height:300px;
	/*border: 1px solid rgba(156, 156, 156, 0.8);*/
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
/*	border-bottom: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
*/	transition: all .3s ease;
	/*z-in*/dex: -100;
	position: relative;

}

.annonce:hover img
{
	opacity: 1;
}

.formtitre
{
	font-size: 150%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	border-radius: 3px;
	/*box-shadow: 2px 2px 8px rgba(156, 156, 156, 1),-2px 0px 8px rgba(156, 156, 156, 1);*/
	background: white;
}

.annonce-details
{
	border-radius: 3px;
	font-size: 120%;
	margin-top: 5px;
	padding-left: 10px;
	/*box-shadow: 2px 2px 8px rgba(156, 156, 156, 0.8),-2px 0px 8px rgba(156, 156, 156, 0.8);*/
	background: white;
	position: absolute;
	margin:auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*height: 50%;*/
	width: 80%;
	height: 120px;
	padding: 10px;
	vertical-align: middle;
	opacity: 0;
	transition: all .3s ease;
	color:white;
	background: transparent;
}

.annonce-details span {
	vertical-align: middle;
	line-height: 20px;
}

.annonce-details-overlay {
	/*padding: 15px;*/
	/*background: white;*/
	background: transparent;
	z-index: 10;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0px;
}

.annonce:hover .annonce-details-overlay {
	background: rgba(0,0,0,0.7);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}

.annonce:hover .annonce-details {
	opacity: 1;
	z-index:50;
}

.annonce-details p {
	vertical-align: middle;
}

.annonce h2
{
	color: red;
}
.titreannonce
{
	font-size:200%;
}

.description
{
	text-align: justify;
	margin-bottom: 2%;
}

.annonce-body{
	background: white;
	border-radius: 3px;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 3%;
}

.btn-container {
	width: 100%;
	text-align: center;
}

.annonce-button {
	margin: 20px 10px 10px 10px;
	min-width: 120px;
	text-align: center;
}
.annonce-button:not(:last-child) {
}

[v-cloak] {
 	display: none;
}

.slide-enter-active, .slide-leave-active {
  transition: all .5s;
  max-height: 1000px;
}
.slide-enter, .slide-leave-to {
  max-height: 0px;
  opacity: 0;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.margin-bot {
	margin-bottom: 15px;
}

.margin-bot-50 {
	margin-bottom: 50px;
}

.margin-top {
	margin-top: 15px;
}

.formation img
{
	width: 100%;
}

/*.commentaires
{
	background-color: blue;
}*/

.delete {
	cursor:pointer;
}
.delete:hover{
	color:red;
}

.no-mt{
	margin-top: 3px;
}

.no-pr {
	margin-right: 0px;
}

.comments {
	margin-bottom: 25px;
	font-size: 1.5em;
	vertical-align: middle;
}

.comments-count {
	margin-bottom: 50px;
}

.comment-avatar {
/*	vertical-align: middle;
	top: 0;
	bottom: 0;
	width:125px;
	height: 125px;
	float:left;
*/
	text-align: center
}

.comments img {
	height: 120px;
	width: 120px;
	border: 1px solid black;
	border-radius: 50%;
/*	height: 100%;
	width: 100%;
*/	vertical-align: middle;
}

.comments input {
	height: 300px;
}

.formtitre {

}

.formtitre h1 {
	margin:30px 0px;
	letter-spacing: 5px;
}

.annonce-body {
	font-size: 18px;
}

.fa-trash {
	font-size:26px;
	transition: all .5s;
}

.fa-edit {
	font-size: 28px;
	transition: all .5s;
}

.fa-edit:hover {
	color:green;
	transform: translateY(-5px);
}

.fa-trash:hover {
	color:red;
	transform: translateY(-5px);
}

.error {
	color: #D50000;
}

hr {
	height:1px;
	border-top:1px dashed #7C7C7C;
}

.mainTitle{
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 40px;
	color: #909090;
	letter-spacing: 1px;
	text-align: center;
	font-family: arial;

}

.navbar-account {
}

.navbar-account a{
	color: #333 !important;
}

.navbar-account li:hover {
	background: #989898;
}

.active > a{
	background: blue;
}

#map {
	width: 500px;
	height: 300px;
}

.datatable {
	margin:auto;
}

.tabs {
	padding: 0;
}
.tabs li {
	display: inline-block;
	padding: 0;
	height: 50%;
}
.tabs a {
	display: inline-block;
	height: 100%;
	padding: 0;
	margin: 0 !important;
}
.tabs-details {
	border: 2px solid #ececec;
	padding: 10px 20px;
	border-top:none;
}

.datatable {
	width: 100% !important;
}

.annonce >.pagination > li > a {
	font-size: 30px;
	padding: 6px 20px;
}

.annonce >.pagination > li > a > .fa {
	font-size: 30px;

}

.pdf
{
	font-family: Arial, Helvetica, sans-serif;
}